.ui.container {
    overflow: auto;
    white-space: nowrap;
  }
  .ui.card {
    display: inline-block;
    height: 200;
    width:300;
  }

  .ui.card>.image, .ui.cards>.card>.image {
    position: relative;
    display: block;
    flex: 0 0 auto;
    padding: 0;
    background: rgba(0,0,0,.05);
    height: 4.8in;
}